.content-editable {
    padding: 1rem;
    min-width: 150px;
    /* max-width: 100%; */
    resize: none;
}

.content-editable:hover {
    background: #dddddd;
}

.content-editable:focus {
    background: rgb(215, 241, 255);
    outline: 0;
}

table {
    table-layout: fixed;
    max-width: 100%;
    resize: none;
}

td {
    word-wrap: break-word;
}
