.landing {
    /* flex-basis: 75%; */
    padding: 20px 0;
    /* margin-left: 250px; */
    height: auto;
    max-width: 100%;
    z-index: 1;
}

.calendar-day div, col {
    text-align: center;
    margin: 0;
}

.header-day {
    display: inline-block
}

.day-view {
    display: table-row;
}
