/* grid */

.header {
    float: left;
    width: 33%;
}

.left-arr, .right-arr {
    width: 25%;
}

.left-arr {
    text-align: left;
}

.right-arr {
    text-align: right;
}

.date {
    width: 50%;
    text-align: center;
}


.arrows {
    width: 15px;
}

.hour-cell {
    border-right: 1px solid #cfcfcf;
    width: 100%;
}

.header-day.row {
    padding: 1rem;
    margin: 1rem;
    border-bottom: 2px solid rgb(206, 206, 206);
}