/* grid */
.column {
    float: left;
    padding: 30px;
    padding-left: 55px;
    padding-right: 55px;
    text-align: justify;
  }

.header {
    float: left;
    width: 33%;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.left-arr, .right-arr {
    width: 25%;
}

.left-arr {
    text-align: left;
}

.right-arr {
    text-align: right;
}

.date {
    width: 50%;
    text-align: center;
}

.hour-col {
    border-left: 1px solid black;
    border-right: 1px solid black;
    margin-top: 10px;
}

.arrows {
    width: 15px;
}

.hour-cell {
    border-bottom: 1px solid grey;
    width: 100%;
}

.day-view {
    border: 1px solid black;
    display: flex;
}
