@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed&family=Dosis&family=Noto+Sans+TC&display=swap');

* {
    box-sizing: border-box;
}

html {
    background-color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.4;
}

body {
    font-family: 'Noto Sans TC', sans-serif;
}

/* grid */
.column {
    float: left;
    padding: 30px;
    text-align: justify;
  }

.header {
    float: left;
    width: 33%;
}


.row::after {
    content: "";
    display: table;
    clear: both;
}

.left-arr, .right-arr {
    width: 25%;
}

.date {
    width: 50%;
}

.row {
    width: 100%;
    border: 5px;
    border-color: black;
}

.calendar-day {
    width: 100%;
    max-width: fit-content;
}
