/* == HTML == */

html {
  box-sizing: border-box; /* natural box layout that resizes */
  font-family: sans-serif;
  background-color: white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  line-height: 1.4;
}

*, *:before, *:after {
	box-sizing: inherit;
}


div {
  display: block;
}

/* body */
head, body {
	text-align: justify; 
	color: #444444;
	background-color: #fdfdfd;
}

body {
  box-sizing: border-box;
}

a:hover {
  text-decoration: underline;
  color: #3fbb9c;
}